<%- include('./templates/header',   {tituloWeb:'Index'})%>


<div style="    display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
align-items: center;">

    <h1 class="text-center">404</h1>
    <h3 class="text-center">Not Found</h3>
</div>

<%- include('./templates/footer')%>